*~
*.bak
*.org
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea

/.env
/vendor
*
!.gitignore
!favicon.ico
!google*.html
!wp-content
wp-content/*
!wp-content/themes
wp-content/themes/*
!wp-content/themes/potato-life
!wp-content/themes/potato-life/*
